
/* 

    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

*/
body {
    background: url("https://wallpaperaccess.com/full/1273038.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: 'Monoton', serif;
}

img {
  width: 100px;
  height: 100px;
  cursor: pointer;
}

.todo-container {
    display: flex;
    flex-direction: column;
    justify-content: start;
    width: 550px;
    min-height: 300px;
    background-color: black;
    opacity: 0.90;
    text-align: center;
    margin: 100px auto;
    border-radius: 25px;
    padding-bottom: 40px;
  }
  h1 {
    padding-top: 20px;
    color: #fff;
    font-size: 24px;
  }

.todo-form {
    margin-bottom: 20px;
    
  }
  
  .input {
    padding: 14px 32px 14px 16px;
    border-radius: 4px 0 0 4px;
    border: 2px solid;
    outline: none;
    width: 400px;
    background: transparent;
    color: #fff;
  }
  ::placeholder {
    color:white;
    font-family: 'Monoton', serif;
  }

  .todo-text {
    color: #fff;
    text-align: center;
    margin: auto;
  }

  @media only screen and (max-width: 600px) {
    .todo-container {
      display: flex;
      flex-direction: column;
      justify-content: start;
      width: 350px;
      min-height: 500px;
      background-color: black;
      opacity: 0.90;
      text-align: center;
      margin: 100px auto;
      border-radius: 25px;
      padding-bottom: 40px;
    }
    h1 {
      padding-top: 20px;
      color: #fff;
      font-size: 24px;
    }
    .input {
      padding: 14px 32px 14px 16px;
      border-radius: 4px 0 0 4px;
      border: 2px solid;
      outline: none;
      width: 250px;
      background: transparent;
      color: #fff;
    }
  }